
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.bg-color{
background-color: rgb(20, 240, 240);
}
#about{
  font-family: 'Dancing Script', cursive ;
}
    /* .aboutpara{
    width:60% ;
    margin: auto; */


.aboutpara p{
font-size: 30px;
color: black;
}
.contactpara p{
font-size:30px;
}
#contact{
    padding-bottom: 20px;
}