
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.bg-color{
background-color: rgb(20, 240, 240);
}
#about{
  font-family: 'Dancing Script', cursive ;
}
.aboutpara{
  width:40% ;

}